li{
    display:inline-flex;
    margin-left: 120px;
    
  
  
}
.title1{
    display:inline-flex;
    color: black;
    margin-top: 5px;
    color: aliceblue;
   
    
}

.title2{
    display:inline-flex;
    color: black;
    margin-top: 5px;
    color: aliceblue;
   
}
.navbar{
    background-color:#1640D6;
   border-color: #1640D6;
   border-style: solid;
   
    
width:1515px;
border-radius: 10px;  
height: 80px;
margin-top: 5px;;
}
